#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

li {
  font-size: 1.2rem;
}

p {
  margin-bottom: 6rem;
  color: black;
}

p::first-letter {
  text-transform: capitalize;
}

.title {
  font-style: italic;
  font-size: 4rem;
  margin-bottom: 7rem;
  color: rgb(78, 3, 3);
}
 
strong {
  color: rgb(78, 3, 3);
  font-size: 2rem;
}
